<div class="jumbotron">
    <form class="form-inline" method="GET" action="/search">
        <div class="input-group input-group-lg search-panel">
                <input class="form-control input-lg " name="q" type="text" placeholder="검색어를 입력하세요"  style="width:70%">
                <a href="javascript:getSearch();" class="btn btn-lg btn-info search-panel-button">
                    <span class="glyphicon glyphicon-search ">
                        <span class="search-text">Search</span>
                    </span>
                </a>
        </div>
    </form>
</div>


<div class="row marketing">
    <div class="col-lg-6">

        <h4>개발 블로그 전문 검색</h4>
        <p>개발자를 위한 검색 사이트</p>


        <h4>개발관련 검색 최적화</h4>
        <p>당신의 코딩을 지원합니다</p>

    </div>

    <div class="col-lg-6">
        <h4>개발 트랜드</h4>
        <p>개발 관련 최신뉴스, 신기술, 트랜드 검색</p>

        <h4>블로그 추천엔진 탑재 예정</h4>
        <p>기술리뷰 블로그 추천검색</p>
    </div>
</div>