
<h1>heewoo</h1>
<!--<script>-->
//    $.ajax({
//        type: "GET",
//        url:'./totalCnt',
//        success:function(data){
//            $("#count").text(data.count);
//        }
//    })
<!--</script>-->


    <!--<div id="content">-->
        <!--<div class="container">-->
            <!--<h1>Hello G.T</h1>-->

            <!--<h1>전체 색인 건수 <string id="count"></string>건</h1>-->

        <!--</div>-->
    <!--</div>-->

<!--<form class="form-inline" method="GET" action="/search">-->
    <!--<div class="input-group input-group-lg">-->
        <!--<input type="text" name="q" class="form-control" placeholder="검색어를 입력하세요" aria-describedby="sizing-addon1">-->
    <!--</div>-->
    <!--<button type="submit" class="btn btn-default btn-lg">-->
        <!--<span class="glyphicon glyphicon-search" aria-hidden="true"></span> 검색-->
    <!--</button>-->
<!--</form>-->
